<medium-loading *ngIf="isLoading$ | async"></medium-loading>
<medium-error-message *ngIf="error$ | async"></medium-error-message>

<div *ngIf="feed$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]" class="author">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">
        ADD TO FAVORITES
      </div>
    </div>
    <a [routerLink]="['/aricles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more..</span>
      <medium-tag-list [tags]="article.tagList"></medium-tag-list>
    </a>
  </div>
  <medium-pagination
    [total]="(feed$ | async)?.articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage">
  </medium-pagination>
</div>
